// color palette - Since our theme is soccer related and all group members ae brazilians, we decided to use the Brazilian Flag colors:
$color-1: #fedf00; // Yellow
$color-2: #009b3a; // Green
$color-3: #002776; // Blue
$color-4: #444444; // gray 
//#003194; // lighter blue
$color-5: #fefefa; // white

// additional colors
$success: $color-2; // #6fce72; // green
$alert: $color-1; // blue