/* variables to setup basic size and shape of the card and pips */

$card-width: 40vw;
$card-height: $card-width*1.4;
$font-size-number: $card-width * 0.1;
$icon-size: $card-width / 5;

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//styles to draw a basic outline of a card
.card-size {
    border: 1px solid grey;
    height: $card-height;
    width: $card-width;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 4px grey;
}

//because it is a card front we want a bit of extra padding
.card-front {
    padding: .5em;
}

//set icon size
.icon {
    width: $icon-size;
    height: $icon-size;
}

.numbers {
    text-align: center;
    font-size: $font-size-number;
    & > .icon {
        width: $icon-size * .5;
        height: $icon-size *.5;
    }
}

//rotate bottom pips 180deg
.rotation {
    transform: rotate(180deg);
}


.row {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  height: 100%;
  align-items: center;
    
}
.cell {
  flex: 1;
  text-align: center;
}
.col-1 {
  flex: 0 0 12.5%;
}
.col-2 {
  flex: 0 0 25%;
}
.col-8 {
  flex: 0 0 100%;
}
.offset-1 {
  margin-left: 12.5%;
}
.offset-2 {
  margin-left: 25%;
}