$grey: #d0d0d0 
$blue: blue 

.card {
   font-family: Arial, Helvetica, sans-serif 
   margin: 0 auto 
   border: 1px solid 
   box-shadow: 1px 1px 4px 1px $grey 
   max-width: 400px 
   &__content {
      psuming: 1em 
   }
   //& is copying the parent
   &__tags {
      color: $blue 
      font-weight: bold 
   }
   &__image {
      width: 100% 
   }
   @media screen and (min-width: 450px) {
      & {
         display: flex 
      }
   }
}