// color palette - Since our theme is soccer related and all group members ae brazilians, we decided to use the Brazilian Flag colors:
$color-1: rgb(254, 223, 0); // Default Yellow
$color-1b: rgb(254, 223, 0, 0.5); // Light Yellow 


$color-2: rgb(0, 155, 58); // Default Green
$color-2b: rgb(0, 155, 58, 0.5); // Light Green

$color-3: rgb(0, 39, 118); // Default Blue
$color-3b: rgb(0, 39, 118, 0.5); // Light Blue

$color-4: rgb(68, 68, 68); // Default gray 
$color-4b: rgb(68, 68, 68, 0.5); // Light gray 


$color-5: #fefefa; // white